{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h3> Количество всех новостей - {{ news_list|length }}</h3>
    <hr>
    {% if news_list %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Категории</td>
                <td>Дата публикации</td>
                <td>Текст</td>
            </tr>

            {% for news_detail in news_list %}
            <tr>
                <td>{{ news_detail.title|censor }}</td>
                <td>
                    {% for category in news_detail.categories.all %}
                        <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                    {% endfor %}
                </td>
                <td>{{ news_detail.creation_time|date:'d M Y' }}</td>
                <td>{{ news_detail.text|truncatewords:20|censor }}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% if request.user.is_authenticated %}
    <h2>Страница авторизованного пользователя {{request.user.username}}</h2>
    <button> <a href="{% url 'account_logout' %}">Выйти</a> </button>
    {% if is_not_author %}
    <button> <a href="upgrade/"> Хочу стать автором!</a> </button>
    {% endif %}
{% else %}
    <h2>Вы не вошли в систему!</h2>
    <button> <a href="{% url 'account_login' %}">Войти</a> </button>
{% endif %}


{% endblock content %}
